@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker');

body {
background-color:#E7E4AC
}
.dark-background{
  background-color: #98900E;
}
.text-center{
  text-align: center;
}
.text-red{
  color: DarkRed;
  }

header > div > h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: DarkRed;
}

/* header > div > nav > */
 a.link { color: Orange;}
 a.visited { color: white;}
 a.hover{ color: DarkRed;}


a {
  padding: 0 15px 10px 20px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #dec7c5;
}

header, nav, main, footer {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

nav div {
  width: 500px;
  margin: auto;
}
section {
 width:60%;
 margin: 10px auto 10px auto;
 text-align: left;
}
footer{
  padding: 10px 0;
 }

hr{
  width: 75%;
  border: dotted #98900E 6px;
  border-bottom: none;
  margin: 30px auto 30px auto;
}

.copyright{
  color: #EAF6F6;
  font-size: 10px;
  padding: 5px 0;
}
